.box {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin: -2px;
    text-align: center;
    vertical-align: middle;
    /* background-color: #EFCB68; 
    https://www.freecodecamp.org/news/how-to-style-react-apps-with-css/
    use link for working on px size
    */
}


.Board {
    margin: 50px;
}

.white {
    background-color: white;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.purple {
    background-color: purple;
}

.orange {
    background-color: orange;
}

.black {
    background-color: black;
}